.nav{
    list-style-type: none;
    background-color:cornflowerblue;
    height: 50px;
    width: 100%;
}

a{
    text-decoration: none;
    color:white;
    text-align: center;
    display: block;
    padding: 14px 14px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{
    background-color: white;
    color: cornflowerblue;
}

a:focus{
    background-color: white;
    color: cornflowerblue;
}