.box{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    border: 2px solid;
    border-color: cornflowerblue;
}

*{
    -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
    display: none;
    }

.box:hover{
    transform: scale(1.1);
}

.top-div{
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
}

.bottom-div{
    padding: 20px;
    color: black;
}

.news_list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}